.brownButton {
    -fx-background-color : #5E3D19;
    -fx-border-color:#976732;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
}
.greenButton {
    -fx-background-color : #9FC47C;
    -fx-border-color:#7D912A;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
}

.greenButtonSave{
    -fx-background-color : #9FC47C;
    -fx-border-color:#7D912A;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-pref-height: 60px;
    
}

.toko-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Removes any border */
}

.toko-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    -fx-padding: 20px;
    -fx-background-radius: 20px;
}

.toko-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #495749;
}

.toko-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #495749;
}

.save-title{
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-text-fill: #364636;

}

.toko-scrollpane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.toko-gridpane {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Removes any border */
}