.brownButton {
    -fx-background-color : #5E3D19;
    -fx-border-color:#976732;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
}
.greenButton {
    -fx-background-color : #9FC47C;
    -fx-border-color:#7D912A;
    -fx-border-width: 2px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
}
